name: Build

on: [push, pull_request]

jobs:
  build:
    name: Building with ${{ matrix.compiler }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler: [clang, gcc]

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --command "just build-${{ matrix.compiler }}"
