name: Build

on: [push, pull_request]

jobs:
  build:
    name: Building with ${{ matrix.compiler }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [clang, gcc]

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        sudo apt install rofi-dev
    - name: make
      run: |
        export CC=${{ matrix.compiler }}
        autoreconf -i
        ./configure
        make -j$(nproc)
