name: Build

on: [push, pull_request]

jobs:
  build:
    name: Building with ${{ matrix.compiler }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler: [clang, gcc]

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install rofi-dev meson
      - name: make
        run: |
          export CC=${{ matrix.compiler }}
          meson setup build
          meson compile -C build/
